
/* ----- Блок ПРЕИМУЩЕСТВА ----- */

.benefits_section {
  & .benefits_container {
    display: flex;
    align-items: center;
    min-height: 310px;
    justify-content: center;
    & .benefits_block {
      display: flex;
      width: 100%;
      min-height: 200px;
      flex-wrap: wrap;
      justify-content: space-around;
      & .benefits.benefit_1 {
        width: 300px;
      }
      & .benefits.benefit_2 {
        width: 300px;
      }
      & .benefits.benefit_3 {
        width: 300px;
      }
      & .benefits h2 {
        height: 22px;
        object-fit: contain;
        font-family: HelveticaNeueCyr;
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.9px;
        text-align: left;
        color: #000000;
      }
      & .benefits .benefit_description {
        object-fit: contain;
        font-family: HelveticaNeueCyr;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: left;
        color: #535252;
      }
    }
  }
}
