@import url('fonts/HelveticaNeueCyr/stylesheet.css');

body {
   margin: 0;
}



/* ----- HEADER ----- */

.page_header {
  position: fixed; 
  z-index: 99;
  width: 100%;
  background-color: #ffffff;
}
.header_block {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header_block .logo {
	grid-column: 1;
}

.header_block .header_menu {
	grid-column: 2;
  align-self: center;
  justify-self: end;
}

.header_block .header_menu a {
	text-decoration: none;
	padding-left: 10px;
	object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
}



/* ----- Блок ПРЕДЛОЖЕНИЕ ----- */

.offer_section {
  padding-top: 70px;
  /*background: url('images/1.png') no-repeat;
  background-size: 100%;*/
  background: linear-gradient(185deg, #ffffff 18%, #87CEFA 140%); 
}
.offer_block {
	display: grid;
	grid-template-columns: 1fr 1fr;
  height: 550px;
  align-items: center;
}

.offer_block .offer {
  grid-column: 1;
  justify-self: end;
}

.offer_block .offer h1 {
	object-fit: contain;
	font-family: HelveticaNeueCyr;
	font-size: 33px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.2px;
	text-align: left;
	color: #000000;
}
.offer_block .offer .offer_description {
	width: 445px;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #96a6bb;
}

.offer_block .button_block {
	display: flex;
	margin-top: 49px; 
	width: 250px;
	align-items: center;
	justify-content: space-between;
}

.offer_block .button_block .button_order {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 107px;
	height: 35px;
	object-fit: contain;
  border-radius: 4px;
  background-color: #0275d8;
}

.offer_block .button_block .button_order::after {
	content: "Заказать";
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffffff;
}

.offer_block .button_block .button_brif a {
	text-decoration: none;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #005095;
}

.offer_block .logo_2 {
  grid-column: 2;
  justify-self: end;
  padding-top: 50px;
}

.offer_block .logo_2 .big_logo {
	width: 325px;
  height: 325px;
  background: url('images/multicolor_circle.png') no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer_block .big_logo .blue_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 101px;
  height: 101px;
  border-radius: 50%;
  background: linear-gradient(0deg, #ffffff -40%, #0275d8 95%); 
  /*background: url('images/blue_circle.png') no-repeat;*/
}

.offer_block .big_logo .blue_circle::after {
	content: "NBM";
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 23px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
}



/* ----- Блок ПРЕИМУЩЕСТВА ----- */

.benefits_section .benefits_block {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px 20px 40px;
}

.benefits_section .benefits_block .benefits.benefit_1 {
  width: 250px;
}

.benefits_section .benefits_block .benefits.benefit_2 {
  width: 270px;
}

.benefits_section .benefits_block .benefits.benefit_3 {
  width: 290px;
}

.benefits_section .benefits_block .benefits h2 {
  height: 22px;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
}

.benefits_section .benefits_block .benefits .benefit_description {
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: #535252;
}



/* ----- Блок ПРОДВИЖЕНИЕ ----- */

.promotion_section {
  /*background: url('images/13.png'); */
  background: linear-gradient(90deg, #ed7738, #e45d29);
  height: 500px;
  width: 100%;
  position: relative;
}

.promotion_section .airplane_and_logo .logo_3 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-right: 100px;
}

.promotion_section .airplane_and_logo .airplane_img {
  position: absolute;
  top: 30px;
  right: 150px;
  width: 350px;
  height: 250px;
  background: url('images/14.png') no-repeat;
  background-size: 100%; 
}

.promotion_section .promotion_block {
  position: relative;
  display: grid;
  grid-template-columns: 40% 50% 10%;
}

.promotion_section .promotion_block .promotion_1 {
  grid-column: 1;
  padding-top: 40px;
}

.promotion_section .promotion_block .promotion_1 h2 {
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  height: 75px;
}

.promotion_section .promotion_block .promotion_1 h2 span {
  object-fit: contain;
  opacity: 0.36;
  font-family: HelveticaNeueCyr;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
}

.promotion_section .promotion_block .promotion_1 .button_promo  {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.36);
  width: 104px;
  height: 27px;
  margin: auto;
}

.promotion_section .promotion_block .promotion_1 .button_promo::before {
  content: "Заказать";
  text-transform: uppercase;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.promotion_section .promotion_block .promotion_2 {
  grid-column: 2;
  width: 350px;
  padding: 20px 0 0 120px;
}

.promotion_section .promotion_block .promotion_2 .image_promo {
  display: flex;
  width: 350px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px 2px 0 0;
}

.promotion_section .promotion_block .promotion_2 .image_aero {
  width: 350px;
  height: 230px;
  background: url('images/21.png') no-repeat;
  background-size: 100%; 
}

.promotion_section .promotion_block .promotion_2 .image_promo .grey_circle:first-child {
  margin-left: 8px;
} 

.promotion_section .promotion_block .promotion_2 .image_promo .grey_circle { 
  border-radius: 1px;
  width: 5px;
  height: 5px;
  background-color: #D3D3D3;
  margin-top: 8px;
  margin-left: 5px;
  opacity: 0.8;
}

.promotion_section .promotion_block .promotion_2 .block_promo {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 35% 75%;
}

.promotion_section .promotion_block .promotion_2 .block_promo h3 {
  grid-column: 1;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0;
  letter-spacing: 0.7px;
  text-align: left;
  color: #ffffff;
}

.promotion_section .promotion_block .promotion_2 .block_promo h4 {
  grid-column: 2;
  grid-row: 1;
  object-fit: contain;
  opacity: 0.8;
  font-family: HelveticaNeueCyr;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.66);
  line-height: 0;
}

.promotion_section .promotion_block .promotion_2 .block_promo p.promo_description {
  grid-column: 2;
  grid-row: 2;
  height: 41px;
  margin-top: 0;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
  padding-top: 0;
}

.promotion_section .promotion_block .promotion_3 {
    padding: 110px 0 0 20px;
}

.promotion_section .promotion_block .promotion_3 .arrow_img {
  background: url('images/arrow-1.png') no-repeat 50% 50%;
  width: 38px;
  height: 38px;
}

.promotion_section .promotion_block .promotion_3 .arrow_background {
  border-radius: 50%;
  object-fit: contain;
  opacity: 0.21;
  background-color: #ffffff;
  width: 38px;
  height: 38px;
}



/* ----- Блок СОТРУДНИЧЕСТВО ----- */

.partnership_container .partnership_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 50px; 
}

.partnership_container .partnership_block .partnership_1 h2,
.partnership_container .partnership_block .partnership_3 h2 {
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 50px;
}

.partnership_container .partnership_block .partnership_1 p,
.partnership_container .partnership_block .partnership_3 p {
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 20px;
  letter-spacing: 0.8px;
  color: #151515;
  margin-top: 0px;
}

.partnership_container .partnership_block .partnership_3 h2,
.partnership_container .partnership_block .partnership_3 p {
  text-align: right;
}

.partnership_container .partnership_block .partnership_1 {
  grid-column: 1;
  grid-row: 1;
  width: 400px;
  position: relative;
}

.partnership_container .partnership_block .partnership_1 {
  top: 20px;
  left: 0;
}

.partnership_container .partnership_block .partnership_2 {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.partners_1 {
  height: 300px;
  width: 420px;
  position: relative;
}

.partnership_container .partnership_block .partnership_2 .partner {
  position: absolute;
}

.partnership_container .partnership_block .partnership_2 .partner_1 {
  left: 10px;
  top: 30px;
}

.partnership_container .partnership_block .partnership_2 .partner_2 {
  right: 0px;
  top: 90px;
}

.partnership_container .partnership_block .partnership_2 .partner_3 {
  left: 25px;
  bottom: 50px;
}

.partnership_container .partnership_block .partnership_2 .partner_4 {
  left: 180px;
}

.partnership_container .partnership_block .partnership_2 .partner_5 {
  right: 26px;
  bottom: 0px;
}

.partnership_container .partnership_block .partnership_2 .partner_6 {
  left: 167px;
  bottom: 85px;
}

.partnership_container .partnership_block .partnership_3 {
  grid-column: 2;
  grid-row: 2;
  position: relative;
}

.partnership_container .partnership_block .partnership_3 .description {
  position: absolute;
  width: 350px;
  right: 30px;
  top: 20px;
}

.partnership_container .partnership_block .partnership_4 {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 330px;
}
.partners_2 {
  height: 300px;
  width: 370px;
  position: relative;
}
.partnership_container .partnership_block .partnership_4 .technology {
  position: absolute;
  text-align: center;
}

.partnership_container .partnership_block .partnership_4 .technology p {
  margin-top: 5px;
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  letter-spacing: 0.6px;
  color: #151515;
}

.partnership_container .partnership_block .partnership_4 .technology_1 {
  left: 100px;
  top: 0px;
}

.partnership_container .partnership_block .partnership_4 .technology_2 {
  left: 0px;
  top: 120px;
}

.partnership_container .partnership_block .partnership_4 .technology_3 {
  right: 140px;
  top: 150px;
  text-align: center;
}

.partnership_container .partnership_block .partnership_4 .technology_4 {
  right: 14px;
  top: 55px;
}

.partnership_container .partnership_block .partnership_4 .technology_5 {
  right: 0;
  bottom: 0;
}



/* ----- КАЛЬКУЛЯТОР ----- */

.calculator_section {
  height: 710px;
}

.calculator_headline_block {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.calculator_headline_block .calculator_headline h2 {
  object-fit: contain;
  font-family: HelveticaNeueCyr;
  font-size: 50px;
  letter-spacing: 0.6px;
  color: #151515;
  margin-bottom: 20px;
}

.calculator_headline_block .calculator_headline p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: HelveticaNeueCyr;
}

.calculator_block {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap; 
  margin-top: 20px;
}

.calculator_block .calculator_total {
  min-height: 500px;
  min-width: 300px;
  margin: auto;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.calculator_block .calculator_total .calculator_container {
  width: 240px;
  margin: auto;
}

.calculator_block .calculator_total .headline_total {  
  border-bottom: 1px solid #e8e8e8;
}

.calculator_block .calculator_total .headline_total .calculator_container h3 {  
  font-family: HelveticaNeueCyr;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: left;
}



.calculator_block .calculator_custom {
  width: 780px;
}




/* ----- КОНТАКТНАЯ ИНФОРМАЦИЯ ----- */

.contact_section .contact_block {
  display: grid;
  grid-template-columns: 45% 30% 25%;
  grid-template-rows: 220px 60%;
  margin: 100px 20px 20px 20px;
}

.contact_section .contact_block p,
.contact_section .contact_block li {
  font-family: HelveticaNeueCyr;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.contact_section .contact_block h3 {
  font-family: HelveticaNeueCyr;
  font-size: 23px;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.contact_section .contact_block .contact_1 {
  grid-column: 1;
  grid-row: 1 / 2;
  width: 360px;
}

.contact_section .contact_block .contact_1 h2 {
  font-family: HelveticaNeueCyr;
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 10px; 
}

.contact_section .contact_block .contact_2 {
  grid-column: 2;
  grid-row: 1;
  width: 220px;
}

.contact_section .contact_block .contact_3 {
  grid-column: 3;
  grid-row: 1;
  width: 210px;
}

.contact_section .contact_block .contact_4 {
  grid-column: 2 / 3;
  grid-row: 2;
  width: 350px;
}

.contact_section .contact_block .contact_4 .company_requisites {
  display: table;
  margin-top: 50px;
}

.contact_section .contact_block .contact_4 .company_requisites ul {
  display: table-row;
}

.contact_section .contact_block .contact_4 .company_requisites li {
  display: table-cell;
  padding-right: 10px;
}